<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1> Goya! !! !! !! !! !! !! !! !! !! !! !! !! </h1>
    <form action="show.cgi" method="POST">
       If you press the Show button below, you will be taken to the goya information page in pretty format.<br><br>
      <input type="submit" name="show" value="Show">
    </form>
    <form action="false.cgi" method="POST">
       If you press the False button below, you will be taken to the goya information page in poor quality.<br><br>
      <input type="submit" name="false" value="False">
    </form>
  </body>
</html>
